.header-back{
  background-color: #DEC8B1;
  padding: 2px;
}

.user_interval{
  margin-left: 5px;
  margin-right: 5px;
}
.bg-guest{
  border-radius: 2px;
}
.title-p_auto{
  padding: 1.2rem;
}
.search-form{
  margin: 0 auto;
}

.register-content{
  padding-top: 50px;
}

.register-content-main{
  width: 500px;
  text-align: center;
  border-radius: 0.25rem;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
  font-weight: 400;
  border: 1px solid rgba(0,0,0,.125);
  box-shadow: 0 0.5em 1em rgba(0,0,0,.15);
}

.register-content-padding{
  padding: 45px 30px 45px 30px;
}

.register-content-logo{
  width: 320px;
  margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

.header-menu{
  z-index: 0;
    width: 950px;
    margin: 0 auto;
}