.main-content{
  margin-top: 20px;
    margin-bottom: 20px;
    min-height: 200px;
}

.create_zaico_number{
  width: 500px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.create_zaico_name{
  width: 500px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.create_zaico_image{
  width: 500px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.create_zaico_number{
  width: 500px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.create_zcategory{
  width: 500px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.create_content{
  width: 500px;
  margin-top: 20px;
  margin-bottom: 10px;
}