.main-content{
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 200px;
}

.create_zaico_number{
    width: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.create_zaico_name{
    width: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.create_zaico_image{
    width: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.create_zaico_number{
    width: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.create_zcategory{
    width: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.create_content{
    width: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main_left{
    float: left;
    margin-top: 100px;
}

.main_right{
    margin-top: 100px;
}

.tr-white{
    background-color: #fff;
    color: black;
}

table td{
    border: 1px solid #ccc;
}

.image_box img{
    width: 500px;
    height: 500px;
}
